<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dotaitemauction">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitys.MarketDetailActivity"></activity>
        <activity android:name=".Activitys.SellItemActivity" />
        <activity android:name=".Activitys.UpgradeStatuActivity" />
        <activity android:name=".Activitys.UpgradeAccountActivity" />
        <activity android:name=".Activitys.ProfileActivity" />
        <activity android:name=".Activitys.SaledItemActivity" />
        <activity android:name=".Activitys.OnSaleItemActivity" />
        <activity android:name=".Activitys.PurchaseItemActivity" />
        <activity android:name=".Activitys.MarketActivity" />
        <activity android:name=".Activitys.RegisterActivity" />
        <activity android:name=".Activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activitys.MainActivity" />
    </application>

</manifest>